# Virtual environment
.venv/
env/

# Environment variables
.env

# Python cache and bytecode
*.pyc
__pycache__/

# Editor/IDE specific files
.vscode/
.idea/
*.swp

# Logs and temporary files
logs/
*.log
tmp/